

@media only screen and (max-width: 600px) {
    .app-chat__container {
        padding: 2px;
        background: white;
        position: fixed;
        border-radius: 6px;
        bottom: 0px;
        right : 0px;
        width : 100%;
        z-index: 2000;
        height : 450px;
        padding : 0px 15px;
        box-shadow: 0px 0px 5px rgb(171, 170, 170);
    }
   .app-chat__tab {
    padding : 10px 15px;
   }
   .app-chat__post-comment {
    padding : 10px 15px;
   }
    .app-header__about-logo img {
        width : 45%;
    }
    .app-post-tag__grid {
        
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .app-footer__content-logo img {
        width : 60%;
    
    }
    
   .chat-now {
    display: block;
   }

    .app-contact__left {
        margin-bottom: 40px;
    }
    .animate-scroll__nav {
        width: 100px;
        animation-name: example;
        display: block !important;
        animation-duration: 2.5s;
      } 
  
    .app-footer__content-nav  {
        width : 299px !important;
        position: fixed;
        height : 100vh;
        left : 0px;
        display: none;
        top : 0px;
        background-color: #171c24;
        z-index: 1000;
    }
    .app-footer__content-logo {
        width : 100%;
    }
    .app-block-top_grid-item {
       
        max-height: 180px;
        min-height: 180px;
    }
    .app-footer__content-nav li {
        display: block !important;
        padding : 8px 15px;
    }
    .app-block-center__third-content-item-image img {
        max-height: 200px;
        min-height: 200px;
        object-fit: cover;
    }
   
    .app-block-center__third-content-item-detail {
        padding : 0px 0px 0px 0px;
    }
    .app-block-center__last-content-item-top img {
        max-height: 200px;
        min-height: 200px;
        object-fit: cover;
    }
    .app-block-center__third-content-item {
        flex-wrap: wrap;
    }
    .app-block-center__third-content-item-image {
        flex: 0 0 100%;
    }
    .app-block-center__grid-content-item {
        margin-top : 20px;
    }
    .app-block-center__second-content-item {
        margin-bottom : 25px;
    }
    .app-block-center__grid-content-item-image img {
        object-fit: cover;
        max-height: 180px;
        min-height: 180px;
        width : 100%;
    }
    
    .app-block-center__second-content-item-image img {
        object-fit: cover;
         max-height: 180px;
         min-height: 180px;
    }
    .app-block-center__content-category {
        flex : 0 0 100%;
        margin-bottom : 20px;
    }
    .app-block-center_content {
        display: flex;
        flex-wrap: wrap;
    }
    .app-block-center_content-post {
       margin-right : 0px;
    }



    .app-header__about-logo {
        text-align: center;
      
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .app-header__about-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .app-header__about-socialite-flex {
        display: flex;
        align-items: center;
       
        justify-content: center;
    }
   .app-header__about-socialite{
    text-align: center;
   }
   .app-header__nav-left {
    text-align: center;
   }
   .app-header__nav-right {
    text-align: center ;
    margin-top : 10px;
   }

  .app-header__about-content {
    margin-top : 25px;
  }
  .app-header__about-socialite-flex {
    margin-top : 25px;
  }
  .app-header__about-content p {
    text-align: center;
  }
  .app-footer__content-nav-icon {
   display: flex;
}
.app-footer__content-nav-tab {
    display: flex;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .chat-now {
        display: block;
       }
       .app-footer__content-logo img {
        width : 35%;
    
    }
    .app-header__about-logo img {
        width : 250px;
    }
    .app-header__about-logo {
        text-align: center;
      
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .app-contact__left {
        margin-bottom: 40px;
    }
    .app-footer__content-nav li {
        display: block !important;
        padding: 8px 15px;
    }
    .app-footer__content-nav-tab {
        display: flex;
    }
    .app-block-center__grid-content-item-image img {
        object-fit: cover;
        width : 100%;
        max-height: 144px;
        min-height: 144px;
    }
    .app-footer__content-nav  {
        width : 299px !important;
        position: fixed;
        height : 100vh;
        left : 0px;
        display: none;
        top : 0px;
        background-color: #171c24;
        z-index: 1000;
    }
    .animate-scroll__nav {
        width: 100px;
        
        animation-name: example;
        display: block !important;
        animation-duration: 2.5s;
      }
      .app-footer__content-nav li {
        display: block !important;
    }
    .app-block-center__third-content-item-detail {
        padding : 0px 15px 20px 18px;
    }
    .app-block-center__grid-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap : 20px;
    }
    .app-block-center__third-content-item-image {
        flex : 0 0 250px;
    }
    .app-block-center__content-category {
        flex : 0 0 100%;
        margin-bottom : 20px;
    }
    .app-block-center_content {
        display: flex;
        flex-wrap: wrap;
    }
    .app-block-center_content-post {
       margin-right : 0px;
    }
    .app-header__about-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .app-header__about-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .app-header__about-socialite-flex {
        display: flex;
        align-items: center;
       
        justify-content: center;
    }
   .app-header__about-socialite{
    text-align: center;
   }
   .app-header__nav-left {
    text-align: center;
   }
   .app-header__nav-right {
    text-align: center ;
    margin-top : 10px;
   }

  .app-header__about-content {
    margin-top : 25px;
  }
  .app-header__about-socialite-flex {
    margin-top : 25px;
  }
  .app-header__about-content p {
    text-align: center;
  }
  .app-block-top_grid {
        
    grid-template-columns: repeat(2, 1fr);
} 
.app-block-top_grid .app-block-top_grid-item:first-child {
    grid-area: 1 / 1 / 2 / 3;  
    max-height: 210px;
    min-height: 210px;
    
}
.app-block-top_grid .app-block-top_grid-item:nth-child(2) {
    grid-area: 2 / 1 / 3 / 3; 
    max-height: 180px;
    min-height: 180px;
}

.app-block-top_grid .app-block-top_grid-item:nth-child(3) {
    max-height: 210px;
    min-height: 210px;
}
.app-block-top_grid .app-block-top_grid-item:nth-child(4) {
    max-height: 210px;
    min-height: 210px;
}
.app-footer__content-nav  {
    display: none ;
}
.app-footer__content-nav-icon {
    display: flex;
 }
 .app-footer__content-logo {
    width : 100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
       .app-header__about-logo img {
        width : 100%;
    }
    .app-header__about-logo {
        
      
        display: flex;
        justify-content: center;
        align-items: center;
    }
       .app-footer__content-logo img {
        width : 100%;
        position: relative;
        top : 3px;
       }
       .app-footer__content-logo {
        padding-right: 20px;

       
       }



    .app-contact__left {
        margin-bottom: 0px;
    }
    .app-footer__content-nav li {
      
        padding: 0px 0px;
    }
    .app-footer__content-nav-tab {
        display: none !important;
    }
    .animate-scroll__nav {
        
        display: flex !important;
       
      }
      #over-flow {
        display: none !important;
      }
    .app-footer__content-logo {
        flex : 0 0 180px;
    }
    .app-footer__content-nav-icon {
        display: none;
     }
    .app-footer__content-nav  {
        display: flex ;
    }
    .app-footer__content-nav li {
        display: inline-block !important;
    }
    .app-footer__content-nav {
        width: 100% !important;
        position: relative;
        height: auto;
        left: 0px;
        display: flex;
        top: 0px;
        background-color: #171c24;
        z-index: 1000;
    }
    .app-block-top_grid .app-block-top_grid-item:nth-child(3) {
        max-height: 100%;
        min-height: 100%;
    }
    .app-block-top_grid .app-block-top_grid-item:nth-child(4) {
        max-height: 100%;
        min-height: 100%;
    }
    .app-block-top_grid {
        
        grid-template-columns: 50% 1fr 1fr;
    } 
    
    
    .app-block-top_grid .app-block-top_grid-item:first-child {
          grid-area: 1 / 1 / 3 / 2;  
          max-height: 386px;
    }
    
    .app-block-top_grid .app-block-top_grid-item:nth-child(2) {
          grid-area: 1 / 2 / 2 / 4; 
          max-height: 192px;
    }
    .app-block-top_grid .app-block-top_grid-item:nth-child(3) {
        max-height: 192px;
       
    }
    .app-block-top_grid .app-block-top_grid-item:nth-child(4) {
        max-height: 192px;
       
    }
    .app-block-top_grid-item-image img{
        object-fit: cover;
      width : 100%;
      height: 100%;
    }



    .app-header__nav-right {
        display: flex;
        justify-content: flex-end;
    }

    .app-header__about-logo {
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    .app-header__about-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    .app-header__about-socialite-flex {
        display: flex;
        align-items: center;
       
        justify-content:flex-end;
    }
   .app-header__about-socialite{
    
   text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
   }

   .app-header__nav-left {
    text-align: left;
   }
   .app-header__nav-right {
    text-align: right ;
    margin-top : 0px;
   }

  .app-header__about-content {
    margin-top : 0px;
  }
  .app-header__about-socialite-flex {
    margin-top : 0px;
  }
  .app-header__about-content p {
    text-align: left;
  }

 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
    
    
    .app-block-center__content-category {
        flex : 0 0 315px;
    }
    .app-block-center_content {
        display: flex;
        flex-wrap: nowrap;
    }
    .app-block-center_content-post {
      
        margin-right : 33px;
    }
    .app-block-center__content-category-comment-list-item-content {
        display: flex;
       flex-wrap: wrap;

       align-content: space-between; 
      
   }
}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
